*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;

}
.container{
    /* border: 1px solid rgb(16, 16, 17); */
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-top: 40px;
    overflow: hidden;
    /* box-shadow: 0 4px 3px rgb(201, 199, 199); */
    box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
}
.list{
    border-bottom: 1px solid rgb(196, 193, 193);
    display: flex;
    justify-content: space-around;
    list-style: none outside none;
    padding: 30px 5px 0 5px;
    font-size: 15px;
    color: rgb(66, 64, 64);
    background-color: white;
}
li > a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 15px;
    color: rgb(78, 76, 76);
}
/* .Active{
    border-bottom: 2px solid rgb(135, 1, 175);
    background-color: rgb(252, 246, 255);
    padding: 15px;
} */
:target{
    border-bottom: 2px solid rgb(135, 1, 175);
    background-color: rgb(252, 246, 255);
}
li > a:hover{
    background-color: rgb(252, 246, 255);
    border-radius: 5px 5px 0 0;
}
option{
    font-size: 15px;
}
.container2{
    margin: 50px ;
    background-color: white;
}
.row{
    display: flex;
    gap: 20px;
    padding: 10px;
}
.box > label{
    /* border: 1px solid blue; */
    display: block;  
    margin-bottom: 4px;  
}
select, input{
    border: 1px solid rgb(167, 167, 167);
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 4px;
    background-color: white;
    font-size: 12px;
    color: rgb(70, 68, 68);
    
}
.row > .box{
    flex: 1;
}
.box{
    font-size: 15px;
    color: rgb(70, 68, 68);

}
